{% extends "layout.html" %}
{% block title %}Task ”{{ task.name}}”{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/tasks">List</a>
            <a class="mdl-navigation__link" href="/tasks/add">Add</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell--12-col">
        <form action="/tasks/{{ task.task_id }}" method="POST">
            <div class="mdl-grid">
                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="task_id" name="task_id" value="{{ task.task_id }}">
                    <label class="mdl-textfield__label" for="task_id">Task ID</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="feature_name" name="feature_name" value="{{ task.feature_name }}">
                    <label class="mdl-textfield__label" for="feature_name">Feature</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="assignee_name" name="assignee_name" value="{{ task.assignee_name }}">
                    <label class="mdl-textfield__label" for="assignee_name">Assignee</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{ task.name }}">
                    <label class="mdl-textfield__label" for="name">Name</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="description" name="description" value="{{ task.description }}">
                    <label class="mdl-textfield__label" for="description">Description</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="status" name="status" value="{{ task.status }}">
                    <label class="mdl-textfield__label" for="status">Status</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="task_type" name="task_type" value="{{ task.task_type }}">
                    <label class="mdl-textfield__label" for="task_type">Task type</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="priority" name="priority" value="{{ task.priority }}">
                    <label class="mdl-textfield__label" for="priority">Priority</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="created" name="created" value="{{ task.created }}">
                    <label class="mdl-textfield__label" for="created">Created</label>
                </div>

                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="updated_on" name="updated_on" value="{{ task.updated_on }}">
                    <label class="mdl-textfield__label" for="updated">Updated on</label>
                </div>
                
                <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="flags" name="flags" value="{{ task.flags }}">
                    <label class="mdl-textfield__label" for="flags">Flags</label>
                </div>

                <input type="hidden" name="feature_id" value="{{ task.feature_id }}" />
                <input type="hidden" name="assignee_id" value="{{ task.assignee_id }}" />

                <div class="mdl-cell--12-col">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="mdl-cell--12-col" style="width: 100%;">
        <h4>Comments:</h2>
        <table class="mdl-data-table mdl-js-data-table" style="width: 100%;">
            <thead>
                <th class="mdl-data-table__cell--non-numeric">Comment</th>
                <th>Time spent</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for comment in task.comments %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ comment.comment_html|safe }}</td>
                    <td>{{ comment.time_spent }}</td>
                    <td>
                        <form action="/comments/{{ comment.comment_id }}">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="submit">
                                <i class="material-icons" id="edit{{ comment.comment_id }}">edit</i>
                                <div class="mdl-tooltip" data-mdl-for="edit{{ comment.comment_id }}">
                                    Edit
                                </div>
                            </button>
                        </form>  
                    </td>
                    <td>
                        <form action="/comments/remove" method="post">
                            <input type="hidden" name="comment_id" value="{{ comment.comment_id }}" />
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="submit">
                                <i class="material-icons" id="remove{{ comment.comment_id }}">delete</i>
                                <div class="mdl-tooltip" data-mdl-for="remove{{ comment.comment_id }}">
                                    Remove
                                </div>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}