<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Projektinator&nbsp;&nbsp;|&nbsp;&nbsp;Made by 🍐&nbsp;&nbsp;&nbsp;</div>
        {% if session.user %}
        <ul class="mdl-mini-footer__link-list">
            <li>|&nbsp;&nbsp;<a href="/projects">Projects</a></li>
            <li>|&nbsp;&nbsp;<a href="/features">Features</|a></li>
            <li>|&nbsp;&nbsp;<a href="/tasks">Tasks</a></li>
            {% if session.user_role > 1 %}
            <li>|&nbsp;&nbsp;<a href="/users">Users</a></li>
            <li>|&nbsp;&nbsp;<a href="/teams">Teams</a></li>
            {% endif %}
            
        </ul>
        {% endif %}
    </div>
    <div class="mdl-mini-footer__right-section">
        {% if session.user %}
        <ul class="mdl-mini-footer__link-list">
            <li><a href="/">Home</a>&nbsp;&nbsp;|</li>
            <li><a href="/users/{{ session.user }}">Profile</a>&nbsp;&nbsp;|</li>
            <li><a href="/users/logout">Logout</a>&nbsp;&nbsp;|</li>
        </ul>
        {% endif %}
    </div>
</footer>