<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">Projektinator | Made by 🍐</div>
        <ul class="mdl-mini-footer__link-list">
            <li>| <a href="/projects">Projects</a></li>
            <li>| <a href="/features">Features</|a></li>
            <li>| <a href="/tasks">Tasks</a></li>
            <li>| <a href="/users">Users</a></li>
            <li>| <a href="/teams">Teams</a></li>
            <li>| <a href="/users/logout">Logout</a></li>
        </ul>
    </div>
</footer>