<header class="mdl-layout__header mdl-layout__header">
    <div class="mdl-layout__header-row">
        <a href="/"><img src="{{ url_for('static', filename='media/logo_valkoinen.svg') }}" style="height: 5vh;"/></a>
        <span class="mdl-layout-title">&nbsp;&nbsp;{{ title() }}</span>
        <div class="mdl-layout-spacer"></div>
        {% if session.user %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="/projects">Projects</a>
                <a class="mdl-navigation__link" href="/features">Features</a>
                <a class="mdl-navigation__link" href="/tasks">Tasks</a>
                <a class="mdl-navigation__link" href="/users">Users</a>
                <a class="mdl-navigation__link" href="/teams">Teams</a>
                <a class="mdl-navigation__link" href="/users/{{ session.user }}"><i class="material-icons">account_circle</i>&nbsp;&nbsp;{{ session.username }}</a>
            </nav>
        {% endif %}
    </div>
</header>