<div id="notification" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"><i class="material-icons">delete</i></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% with notifications = get_flashed_messages(with_categories=true) %}
    {% if notifications %}
        {% for type, notification in notifications %}
            {% if notification != "" %}
                {% if type == "is-success" %}
                    {% set notification = '✅ '+notification%}
                {% endif %}
                {% if type == "is-danger" %}
                    {% set notification = '❌ '+notification%}
                {% endif %}
                <script>
                    const handleNotification = () => {
                        const notificationContainer = document.querySelector('#notification')
                        const data = {message: '{{ notification }}'}
                        notificationContainer.MaterialSnackbar.showSnackbar(data)
                    }
                    document.querySelector('#notification').addEventListener('mdl-componentupgraded', () => {
                        handleNotification()
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}