{% extends "layout.html" %}
{% block title %}Uusi projekti{% endblock %}
{% block content %}
  <form action="/projects/new" method="POST">
    <div class="field is-horizontal">
      <div class="field-label is-normal"><label class="label">Nimi</label></div>
      <div class="field-body"><div class="field"><input class="input is-medium is-primary" type="text" name="name" /></div></div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal"><label class="label">Kuvaus</label></div>
      <div class="field-body"><div class="field"><input class="input is-medium is-primary" type="text" name="description" /></div></div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal"><label class="label">Tunnisteet</label></div>
      <div class="field-body"><div class="field"><input class="input is-medium is-primary" type="text" name="flags" /></div></div>
    </div>
    <input type="hidden" name="token" value="{{ session.token }}" />
    <div class="field"><input class="button is-medium is-primary" type="submit" value="Lähetä" /></div>
  </form>
{% endblock %}