{% extends "layout.html" %}
{% block title %}Projektit{% endblock %}
{% block tools%}
   <p class="level-item"><a class="button is-primary" href="/projects/new">Uusi</a></p>
{% endblock %}

{% block content %}
    <div class="columns is-multiline">
      {% for project in projects %}
        {% set tags = project[3].split(';') %}
        <div class="column is-one-third">
          <div class="card">
            <header class="card-header is-primary">
              <p class="card-header-title">{{ project[1] }}</p>
            </header>
            <div class="card-content">
              <div class="content">
                ID: {{project[0]}}<br />
                Kuvaus: {{project[2]}}<br />
                Luotu: {{project[4]}}<br />
                Tägit: {% for tag in tags %}{%if tag != "" %}<span class="tag is-primary m-1">{{ tag }}</span>{% endif %}{% endfor %}
              </div>
            </div>
            <footer class="card-footer">
              <a class="card-footer-item" href="/projects/{{ project[0] }}">Muokkaa</a>
              <a class="card-footer-item" href="/projects/{{ project[0] }}/todo">Todo</a>
              <a class="card-footer-item" href="/projects/{{ project[0] }}/wiki">Wiki</a>
            </footer>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}