{% extends "layout.html" %}
{% block title %}Add project{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            <hr />
            <a class="mdl-navigation__link" href="/projects">List</a>
            <a class="mdl-navigation__link" href="/projects/add">Add</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <form action="/projects/add" method="POST">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name" required>
                <label class="mdl-textfield__label" for="name">Name</label>
                <span class="mdl-textfield__error">Field ”Name” can't be empty</span>
            </div>
        
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="description" name="description" required>
                <label class="mdl-textfield__label" for="description">Description</label>
                <span class="mdl-textfield__error">Field ”Description” can't be empty</span>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="flags" pattern="(.*;)*" name="flags" required>
                <label class="mdl-textfield__label" for="flags">Flags</label>
                <span class="mdl-textfield__error">Flags needs to be given in format <em>first;second;third;</em> separated by semicolons.</span>
            </div>

            <div class="mdl-cell--12-col">
                <p>Project owner</p>
                <input type="radio" id="ponone" class="mdl-radio__button" name="project_owner" value="" hidden required>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, fullname, profile_image in users %}
                            <tr>
                                {% if profile_image != None %}
                                <td class="mdl-data-table__cell--non-numeric"><img class="profile_image" src="{{ profile_image }}"></img></td>
                                {% else %}
                                <td class="mdl-data-table__cell--non-numeric"><i class="material-icons mdl-list__item-avatar">person</i></td>
                                {% endif %}
                                <td class="mdl-data-table__cell--non-numeric">{{ fullname }}</td>
                                <td>
                                    <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ id }}">
                                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="project_owner" value="{{ id }}" required>
                                        <span class="mdl-radio__label"></span>
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <input type="hidden" name="token" value="{{ session.token }}">

            <div class="mdl-cell--12-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Add
                </button>
            </div>
            
        </div>
    </form>
{% endblock %}