{% extends "layout.html" %}
{% block title %}Project {{ project.name }}{% endblock %}
{% block content %}
<form action="/projects/{{ project.project_id }}" method="POST">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="project_id" name="project_id" value="{{ project.project_id }}">
        <label class="mdl-textfield__label" for="user_id">Project ID</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{ project.name }}">
        <label class="mdl-textfield__label" for="name">Name</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="description" name="description" value="{{ project.description }}">
        <label class="mdl-textfield__label" for="description">Description</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="product_owner" name="product_owner" value="{{ project.project_owner_name }}">
        <label class="mdl-textfield__label" for="product_owner">Project owner</label>
    </div>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="created" name="created" value="{{ project.created }}">
        <label class="mdl-textfield__label" for="created">Created</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="updated_on" name="updated_on" value="{{ project.updated_on }}">
        <label class="mdl-textfield__label" for="updated_on">Updated on</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="flags" name="flags" value="{{ project.flags }}">
        <label class="mdl-textfield__label" for="flags">Flags</label>
    </div>

    <input type="hidden" name="project_owner_id" value="{{ project.project_owner_id }}" />

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Save
    </button>
</form>
{% endblock %}