{% extends "layout.html" %}
{% block title %}Add comment{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            {% if mode == "features" %}
            <a class="mdl-navigation__link" href="/features">List all features</a>
            <a class="mdl-navigation__link" href="/features/add">Add new feature</a>
            {% elif mode == "tasks" %}
            <a class="mdl-navigation__link" href="/tasks">List all tasks</a>
            <a class="mdl-navigation__link" href="/tasks/add">Add new task</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}
{% block content %}
    <form action="/comments/add" method="POST">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="comment" name="comment" ></textarea>
                <label class="mdl-textfield__label" for="comment">Comment</label>
              </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="number" id="tspent" name="tspent" value="0.0" step="0.1">
                <label class="mdl-textfield__label" for="tspent">Time spent (in hours)</label>
                <span class="mdl-textfield__error">Field ”Time spent” needs to be formatted in "2.3" format</span>
            </div>

            <input type="hidden" name="assignee" value="{{ session.user }}" />
            <input type="hidden" name="id" value="{{ id }}" />
            <input type="hidden" name="mode" value="{{ mode }}" />
            <input type="hidden" name="token" value="{{ session.token }}">


            <div class="mdl-cell--12-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Add
                </button>
            </div>
            
        </div>
    </form>
{% endblock %}