<script>
    const showNotification = (msg) => {
        const notificationContainer = document.querySelector('#notification')
        const data = {message: msg}
        notificationContainer.MaterialSnackbar.showSnackbar(data)
    }

    const validateForm = () => {
        const form = document.forms["project"]

        if (form["name"].value === "") {
            form["name"].required = true
            showNotification("❌ Field ”Name” can't be empty")
            return false
        }  
        if (form["description"].value === "") {
            form["description"].required = true
            showNotification("❌ Field ”Description” can't be empty")
            return false
        }
        if (form["project_owner"].checked === false) {
            form["project_owner"].required = true
            showNotification("❌ Field ”Project owner” can't be left unchecked")
            return false
        }
        return true
    }

</script>