{% extends "layout.html" %}
{% block title %}Edit user ”{{ user.fullname}}”{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            {% if session.user_role > 1%}
            <hr />
            <a class="mdl-navigation__link" href="/users">List all users</a>
            {% endif %}
            {% if session.user_role > 2 %}
            <a class="mdl-navigation__link" href="/users/add">Add new user</a>
            {% endif %}
            <hr />
            <a class="mdl-navigation__link" href="/users/{{ user.user_id }}">View current user</a>
            {% if session.user == user.user_id or session.user_role > 2%}
            <a class="mdl-navigation__link" href="/users/remove/{{ user.user_id }}">Remove current user</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}
{% block content %}
{% include 'users/users_form_validation.html' %}
<form action="/users/edit/{{ user.user_id }}" method="POST" enctype="multipart/form-data" name="project" onsubmit="return validateForm()">
    <div class="mdl-grid">
        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="user_id_show" name="user_id_show" value="{{user.user_id}}" disabled>
            <label class="mdl-textfield__label" for="user_id_show">User ID</label>
        </div>
        <input type="hidden" id="user_id" name="user_id" value="{{user.user_id}}">

        {% if session.user_role < 2%}
        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username_show" name="username_show" value="{{ user.username }}" disabled>
            <label class="mdl-textfield__label" for="username_show">Username</label>
        </div>
        <input type="hidden" id="username" name="username" value="{{user.username}}">
        {% endif %}
        {% if session.user_role == 3 %}
        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" minlength="5" id="username" name="username" value="{{ user.username }}">
            <label class="mdl-textfield__label" for="username">Username</label>
            <span class="mdl-textfield__error">Field ”Username” needs to be atleast 5 characters</span>
        </div>
        {% endif %}

        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" minlength="5" id="password_edit" name="password_edit">
            <label class="mdl-textfield__label" for="password_edit">Password</label>
            <span class="mdl-textfield__error">Field ”Password” needs to be atleast 5 characters</span>
        </div>

        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" minlength="5" id="password_confirm_edit" name="password_confirm_edit">
            <label class="mdl-textfield__label" for="password_confirm_edit">Confirm password</label>
            <span class="mdl-textfield__error">Field ”Confirm password” needs to be atleast 5 characters</span>
        </div>

        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="firstname" name="firstname" value="{{user.firstname}}">
            <label class="mdl-textfield__label" for="firstname">Firstname</label>
            <span class="mdl-textfield__error">Field ”Firstname” can't be empty</span>
        </div>
        
        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="lastname" name="lastname" value="{{user.lastname}}">
            <label class="mdl-textfield__label" for="lastname">Lastname</label>
            <span class="mdl-textfield__error">Field ”Lastname” can't be empty</span>
        </div>

        <div class="mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="email" name="email" value="{{user.email}}">
            <label class="mdl-textfield__label" for="email">Email</label>
            <span class="mdl-textfield__error">Field ”Email” needs to be correct email</span>
        </div>

        <div class="mdl-cell--6-col">
            <p>Profile image:</p>
            <input type="file" id="profile_image" name="profile_image">
        </div>       

        <div class="mdl-cell--6-col">
            <p>User role:</p>
            {% for id, name, description in user_roles %}
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ id }}">
                    {% if session.user != user.user_id and session.user_role > 2 %}
                        {% if id == user.user_role %}
                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="user_role" value="{{ id }}" checked>
                        {% else %}
                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="user_role" value="{{ id }}">
                        {% endif %}
                        <span class="mdl-radio__label">{{ name }}</span>
                    {% else %}
                        {% if id == user.user_role %}
                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="user_role_show" value="{{ id }}" checked disabled>
                        {% else %}
                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="user_role_show" value="{{ id }}" disabled>
                        {% endif %}
                        <span class="mdl-radio__label">{{ name }}</span>
                        <input type="hidden" id="user_role" name="user_role" value="{{ user.user_role }}">
                    {% endif %}
                </label>
            {% endfor %}
        </div>
        
        <input type="hidden" name="token" value="{{ session.token }}">

        <div class="mdl-cell--12-col" style="margin-top: 16px;">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Save
            </button>
        </div>
        
    </div>
</form>
{% endblock %}