{% extends "layout.html" %}
{% block title %}Add user{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            {% if session.user_role > 1%}
            <hr />
            <a class="mdl-navigation__link" href="/users">List all users</a>
            {% endif %}
            {% if session.user_role > 2%}
            <a class="mdl-navigation__link" href="/users/add">Add new user</a>
            {% endif %}
        </nav>
    </div>
{% endblock %}
{% block content %}
{% include 'users/users_form_validation.html' %}
    <form action="/users/add" method="POST" name="user" onsubmit="return validateForm()">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" minlength="5" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Username</label>
                <span class="mdl-textfield__error">Field ”Username” needs to be atleast 5 characters</span>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" minlength="5" id="password" name="password">
                <label class="mdl-textfield__label" for="password">Password</label>
                <span class="mdl-textfield__error">Field ”Password” needs to be atleast 5 characters</span>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" minlength="5" id="password_confirm" name="password_confirm">
                <label class="mdl-textfield__label" for="password_confirm">Confirm password</label>
                <span class="mdl-textfield__error">Field ”Confirm password” needs to be atleast 5 characters</span>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="firstname" name="firstname">
                <label class="mdl-textfield__label" for="firstname">Firstname</label>
            </div>
            
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="lastname" name="lastname">
                <label class="mdl-textfield__label" for="lastname">Lastname</label>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="email" name="email">
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>

            <div class="mdl-cell--12-col">
                <p>User role:</p>
                {% for id, name, description in user_roles %}
                    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ id }}" style="margin: 8px;">
                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="user_role" value="{{ id }}">
                        <span class="mdl-radio__label">{{ name }}</span>
                    </label>
                {% endfor %}
            </div>

            <input type="hidden" name="token" value="{{ session.token }}">

            <div class="mdl-cell--12-col" style="margin-top: 16px;">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Add
                </button>
            </div>
        </div>
    </form>
{% endblock %}