{% extends "layout.html" %}
{% block title %}Add feature{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/features">List</a>
            <a class="mdl-navigation__link" href="/features/add">Add</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
    <form action="/features/add" method="POST">
        <div class="mdl-grid">
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="name" name="name">
                <label class="mdl-textfield__label" for="name">Name</label>
            </div>
        
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="description" name="description">
                <label class="mdl-textfield__label" for="description">Description</label>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="status" name="status">
                <label class="mdl-textfield__label" for="status">Status</label>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="feature_type" name="feature_type">
                <label class="mdl-textfield__label" for="feature_type">Feature type</label>
            </div>

            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="priority" name="priority">
                <label class="mdl-textfield__label" for="priority">Priority</label>
            </div>
        
            <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="flags" name="flags">
                <label class="mdl-textfield__label" for="flags">Flags</label>
            </div>

            <div class="mdl-cell--6-col">
                <p>Feature owner</p>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, fullname in users %}
                            <tr>
                                <td><i class="material-icons  mdl-list__item-icon">person</i></td>
                                <td class="mdl-data-table__cell--non-numeric">{{ fullname }}</td>
                                <td>
                                    <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ id }}">
                                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="feature_owner" value="{{ id }}">
                                        <span class="mdl-radio__label"></span>
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mdl-cell--6-col">
                <p>Project</p>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, name in projects %}
                            <tr>
                                <td><i class="material-icons  mdl-list__item-icon">article</i></td>
                                <td class="mdl-data-table__cell--non-numeric">{{ name }}</td>
                                <td>
                                    <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{ id }}">
                                        <input type="radio" id="{{ id }}" class="mdl-radio__button" name="project" value="{{ id }}">
                                        <span class="mdl-radio__label"></span>
                                    </label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mdl-cell--12-col">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Add
                </button>
            </div>
            
        </div>
    </form>
{% endblock %}