{% extends "layout.html" %}
{% block title %}Feature ”{{ feature.name }}”{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/features">List</a>
            <a class="mdl-navigation__link" href="/features/add">Add</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
<form action="/features/{{ feature.feature_id }}" method="POST">
    <div class="mdl-grid">
        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="feature_id" name="feature_id" value="{{ feature.feature_id }}">
            <label class="mdl-textfield__label" for="feature_id">Feature ID</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" name="name" value="{{ feature.name }}">
            <label class="mdl-textfield__label" for="name">Name</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="description" name="description" value="{{ feature.description }}">
            <label class="mdl-textfield__label" for="description">Description</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="project_name" name="project_name" value="{{ feature.project_name }}">
            <label class="mdl-textfield__label" for="project_name">Project</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="feature_owner" name="feature_owner" value="{{ feature.feature_owner_name }}">
            <label class="mdl-textfield__label" for="feature_owner">Feature owner</label>
        </div>
        
        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="status" name="status" value="{{ feature.status }}">
            <label class="mdl-textfield__label" for="status">Status</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="feature_type" name="feature_type" value="{{ feature.feature_type }}">
            <label class="mdl-textfield__label" for="feature_type">Feature type</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="priority" name="priority" value="{{ feature.priority }}">
            <label class="mdl-textfield__label" for="priority">Priority</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="created" name="created" value="{{ feature.created }}">
            <label class="mdl-textfield__label" for="created">Created</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="updated_on" name="updated_on" value="{{ feature.updated_on }}">
            <label class="mdl-textfield__label" for="updated_on">Updated on</label>
        </div>

        <div class="mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="flags" name="flags" value="{{ feature.flags }}">
            <label class="mdl-textfield__label" for="flags">Flags</label>
        </div>

        <input type="hidden" name="project_id" value="{{ feature.project_id }}" />
        <input type="hidden" name="feature_owner_id" value="{{ feature.feature_owner }}" />

        <div class="mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Save
            </button>
        </div>
    </div>
</form>

<h4>Tasks:</h2>
    <ul class="mdl-list">
        {% for task in feature.tasks %}
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-avatar">assignment</i>
                    <span>{{ task.name }}</span>
                    <span class="mdl-list__item-text-body">
                        <b>Task type:</b> {{ task.task_type }}<br />
                        <b>Status:</b> {{ feature.status }}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    <form action="/tasks/{{ task.task_id }}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-list__item-secondary-action" type="submit">View</button>
                    </form>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}