{% extends "layout.html" %}
{% block title %}All features{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            <hr />
            <a class="mdl-navigation__link" href="/features">List features</a>
            <a class="mdl-navigation__link" href="/features/add">Add new feature</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell--12-col" style="width: 100%;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Description</th>
                    <th class="mdl-data-table__cell--non-numeric">Project</th>
                    <th class="mdl-data-table__cell--non-numeric">Feature owner</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Feature type</th>
                    <th class="mdl-data-table__cell--non-numeric">Priority</th>
                    <th class="mdl-data-table__cell--non-numeric">Created</th>
                    <th class="mdl-data-table__cell--non-numeric">Updated on</th>
                    <th class="mdl-data-table__cell--non-numeric">Flags</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for feature in features %}
                    {% set flags = feature.flags.split(';') %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.name }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.description }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.project_name }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.feature_owner_name }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.status_name }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.feature_type_name }}</td>
                        <td>{{ feature.priority }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.created.strftime("%d.%m.%Y %H:%M") }}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{ feature.updated_on.strftime("%d.%m.%Y %H:%M") }}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            {% for flag in flags %}
                                {% if flag != "" %}
                                    <span class="mdl-chip">
                                        <span class="mdl-chip__text">
                                            {{ flag.strip() }}
                                        </span>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <form action="/features/{{ feature.feature_id }}">
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" type="submit">
                                    <i class="material-icons" id="view{{ feature.feature_id }}">read_more</i>
                                    <div class="mdl-tooltip" data-mdl-for="view{{ feature.feature_id }}">
                                        View
                                    </div>
                                </button>
                            </form>     
                        </td>
                        {% if session.user == feature.feature_owner or session.user_role > 1 %}
                        <td>
                            <form action="/features/edit/{{ feature.feature_id }}">
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" type="submit">
                                    <i class="material-icons" id="edit{{ feature.feature_id }}">edit</i>
                                    <div class="mdl-tooltip" data-mdl-for="edit{{ feature.feature_id }}">
                                        Edit
                                    </div>
                                </button>
                            </form>     
                        </td>
                        <td>
                            <form action="/features/remove/{{ feature.feature_id }}">
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" type="submit">
                                    <i class="material-icons" id="remove{{ feature.feature_id }}">delete</i>
                                    <div class="mdl-tooltip" data-mdl-for="remove{{ feature.feature_id }}">
                                        Remove
                                    </div>
                                </button>
                            </form>
                        </td>
                        {% else %}
                        <td></td>
                        <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}