<script>
    const showNotification = (msg) => {
        const notificationContainer = document.querySelector('#notification')
        const data = {message: msg}
        notificationContainer.MaterialSnackbar.showSnackbar(data)
    }

    const validateForm = () => {
        const form = document.forms["team"]

        if (form["name"].value === "") {
            showNotification("❌ Field ”Name” can't be empty")
            return false
        } 

        if (form["description"].value === "") {
            showNotification("❌ Field ”Description” can't be empty")
            return false
        }

        

        let team_leader = false
        form["team_leader"].forEach((input) => {
            if (input.checked === true) {
                team_leader = true
            }
        })
        if (team_leader === false) {
            showNotification("❌ Field ”Team Leader” can't be left unchecked")
            return false
        }

        return true
    }

</script>