{% extends "layout.html" %}
{% block title %}Edit members in team ”{{ team.name }}”{% endblock %}
{% block drawer %}
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">{{ title() }}</span>
        <nav class="mdl-navigation">
            <hr />
            <a class="mdl-navigation__link" href="/teams">List all teams</a>
            <a class="mdl-navigation__link" href="/teams/add">Add new team</a>
            <hr />
            <a class="mdl-navigation__link" href="/teams/{{ team.team_id }}">View current team</a>
            <a class="mdl-navigation__link" href="/teams/remove/{{ team.team_id }}">Remove current team</a>
        </nav>
    </div>
{% endblock %}
{% block content %}
<form action="/teams/edit/{{ team.team_id }}/members" method="POST">
    <div class="mdl-grid">
        <div class="mdl-cell--12-col">
            <p>Members</p>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th></th>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for id, fullname, profile_image in users %}
                        <tr>
                            {% if profile_image != None %}
                            <td><img class="profile_image" src="{{ profile_image }}"></img></td>
                            {% else %}
                            <td><i class="material-icons mdl-list__item-avatar">person</i></td>
                            {% endif %}
                            <td class="mdl-data-table__cell--non-numeric">{{ fullname }}</td>
                            <td>
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ id }}-m">
                                    {% if (id, fullname) in teamusers %}
                                    <input type="checkbox" id="{{ id }}-m" class="mdl-checkbox__input" name="members" value="{{ id }}" checked>
                                    {% else %}
                                    <input type="checkbox" id="{{ id }}-m" class="mdl-checkbox__input" name="members" value="{{ id }}">
                                    {% endif %}
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <input type="hidden" id="team_id" name="team_id" value="{{ team.team_id }}" required>
        <input type="hidden" name="token" value="{{ session.token }}">

        <div class="mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Save
            </button>
        </div>
    </div>
</form>

{% endblock %}