<!DOCTYPE html>
<html>
  <head>
    <title>Projektinator - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!--Navigointi-->
    <div class="navbar">
      <h1>Projektinator</h1>
      <hr />
    </div>
    <!--Sivun sisöltö-->
    {% if session.user %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% else %}
    <h1>Kirjaudu sisään</h1>
    <form action="/login" method="POST">
      Käyttäjänimi: <input type="text" name="username" /><br />
      Salasana: <input type="password" name="password" /><br />
      <input type="submit" value="Kirjaudu" />
    </form>
    {% endif %}
    <div class="footer">
      <hr />
      <p>Made by 🍐</p>
    </div>
  </body>
</html>