{% extends "layout.html" %}
{% block title %}Käyttäjän lisäys{% endblock %}
{% block content %}
  <h1>Lisää uusi käyttäjä</h1>
  <form action="/settings/users/register" method="POST">
    Nimi: <input type="text" name="name" /><br />
    Käyttäjänimi: <input type="text" name="username" /><br />
    Salasana: <input type="password" name="password" /><br />
    Sähköposti: <input type="email" name="email" /><br />
    Rooli: <input type="text" name="user_role" /><br />
    <input type="hidden" name="token" value="{{ session.token }}" />
    <input type="submit" value="Kirjaudu" />
  </form>
{% endblock %}