{% extends "layout.html" %}
{% block title %}Käyttäjän {{ user[1]}} asetukset{% endblock %}
{% block content %}
  <script>
    function validatePassword() {
      console.log('before:',document.getElementsByName('save').disabled)
      if (document.getElementsByName('password')[0].value !== document.getElementsByName('confirm_password')[0].value) {
        console.log('after:',document.getElementsByName('save').disabled)
        document.getElementsByName('save')[0].disabled = true
      } else {
        document.getElementsByName('save')[0].disabled = false
        console.log('after:',document.getElementsByName('save').disabled)
      }
    }
  </script>

  <h1>Käyttäjän {{ user[1] }} asetukset</h1>
  <form action="/settings/users/modify/{{ user[0] }}" method="POST">
    <input type="hidden" name="id" value="{{ user[0] }}"
    <div>Nimi: <input type="text" name="name" value="{{ user[1] }}" /></div>
    <div>Käyttäjänimi: <input type="text" name="username" value="{{ user[2] }}" /></div>
    <div>Sähköposti: <input type="text" name="email" value="{{ user[3] }}" /></div>
    <div>Käyttäjäryhmä: <input type="text" name="user_role" value="{{ user[4] }}" /></div>
    <br>
    <div>Salasana: <input type="password" name="password" oninput="validatePassword()"/></div>
    <div>Vahvista salasana: <input type="password" name="confirm_password" oninput="validatePassword()"/></div>
    <input type="hidden" name="token" value="{{ session.token }}" />
    <input type="submit" name="save" value="Tallenna" />
  </form> 
  <br>
  <form action="/settings/users/remove/{{ user[0] }}" type="GET"><input type="submit" value="Poista käyttäjä"/></form>
{% endblock %}