{% extends "layout.html" %}
{% block title %}Käyttjäänhallinta{% endblock %}
{% block content %}
  <h1>Käyttäjät</h1>
  <table>
    <tr>
      <th>Nimi</th>
      <th>Käyttäjänimi</th>
      <th>Sähköposti</th>
      <th>Käyttäjäryhmä</th>
      <th></th>
    </tr>  
    {% for user in users %}
      <tr>
        <th>{{ user[1] }}</th>
        <th>{{ user[2] }}</th>
        <th>{{ user[3] }}</th>
        <th>{{ user[4] }}</th>
        <th><form action="/settings/users/modify/{{ user[0] }}" method="GET"><input type="submit" value="Muokkaa"/></form></th>
      </tr>
    {% endfor %}
  </table>
{% endblock %}